/*#calculate{background-color: #fcf4e8;
    width: 90%;
    text-align: center;

  }
  */
  .calculate{
    display: block;
    width: 430px;
    margin: 0 auto;
    background: #fcf4e8;
  }  
  
    h3{
      font-weight: bold;
   }

    p{

    }
/*
    .calculate-container{
        display: flex;
        margin: 0 auto;
        padding-top: 20rem;
        max-width: 450px;
        height: 200px;
        justify-content: center;
        align-items: center;
      }  
*/
    .calculate-image-container{
      padding-top: 15%;
      position: relative;
      text-align: center;
    }  

    .calculate-ing{
      position: relative;
      text-align: center;
    
   /*   margin: auto;*/
    } 

    .loading {
      position: relative;
        padding-top : 5%;
        clip-path: inset(0 1ch 0 0);
        animation: l 1s steps(4) infinite;
      }
      
      @keyframes l {
        to {
          clip-path: inset(0 -1ch 0 0)
        }
      }
