#main{background-color: #fcf4e8;
width: 90%;
text-align: center;
}

h3{
  font-weight: bold;
  

}



.main-container{
  display: block;
  max-width: 480px;
  margin: 0 auto;
}  


  button {
    display: inline-block;
    padding: 5px 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4b1360;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* 버튼 호버 효과 */
  button:hover {
    background-color: #fca32d;
  }

  /* 버튼 간격을 주기 위한 CSS */
  button-container {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 버튼 사이의 간격을 설정하세요 (원하는 크기로 조정 가능) */
  }
  

    .logo-container {
        position: relative;
        left: 0;
        right: 0;
        padding-top: 10%;
        text-align: center;
        width: 200px;
    }
    
   